*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }
/* body */
body{
    background-color: #c9c3de;
}
/* continer */
#continer{
    display: flex;
    flex-direction: column;
    background-color: #fffdf6;
    width:fit-content;
    padding:20px;
    border-radius: 15px;
    margin: 10px auto ;
    align-items: center;
}
/* display area */
#display-area{
    height: 80px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    background-color: #e6cae1;
    display: flex;
    align-items: center;
    font-size: 30px;
}
/* continer-row */
.button-row{
    margin: 5px auto ;
}
/* continer-row-button*/
.button-row button{
width: 60px;
height: 60px;
font-size: 22px;
border: none;
border-radius: 10px;
margin: 5px;
background-color: #b6a8ca; 
color: #fff;
}
.button-row button:hover{
    background-color: #8e83a9;
    cursor: pointer;
    border-radius: 50%;
}